*{
	font-family:"family Merriweather"
}

.navbar{
	background-color: #f4f0bb;
	margin-bottom:0%;
	border:none;
	border-radius:0;
}
.navbar-default .navbar-brand{
	color: #da2c38;
}
.navbar-default .navbar-nav li a {
	color: #da2c38;
}

.oscuro{
	background-color:black;

}
.fondo{
	background-image:url(../img/helados.jpg);
	background-repeat: no-repeat;
	background-position:center;
	opacity:0.5;
	padding:20%;
}
.foto{
	padding:-10%;
}
.best{
	color:black;

}

.creamy{
	background-color: #F4F0BB;
	padding:2%;
}

.about{
	background-color:#DA2C38;
	padding:2%; 
}
.tip{
	background-color:#F4F0BB;
	padding:6%;
} 
.glyphicon{
	font-size:70px;
	color:#DA2C38; 
}
.oh{
	color:#DA2C38;
}
.crem{
	color:#F4F0BB;
}
.love{
	color: #da2c38;
}
footer{
	background-color:#DA2C38;
	color:#F4F0BB;
	padding:1%;
}